body {
  background-color: #ffa0a0;
}
h1 {
  color: darkslategrey;
}
h2 {
  color: darkslategrey;
  font-size: 15px;
}
h3 {
  color: rgb(65, 79, 47);
  font-size: 45px;
}
h4 {
  color: rgb(231, 241, 80);
  font-size: 45px;
}