

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  color: $white-font; 
  // font-family: 'Roboto', sans-serif;
  // margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  // transition: all 0.3s ease-in-out;
}