
.menu {

  &-wrapper {
    margin: 0 auto;
    // background-image: url('/HTML2/ZFinal/dist/img/bg.png');
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $main-font;
    text-align: center;

    .navbar {
      @include flex-row-spaceBetw-center;
      min-height: 100px;
    
      &-logo {
        @include flex-row-spaceBetw-center;
        width: 100%;

        &__icon {
          fill: $main-font;          
          width: 43px;
          height: 41px; 
          @include flex-row-spaceBetw-center;

          &:hover {
            fill: #fff;
            cursor: pointer;
          }
        }
        &__title h1{          
          margin-left: 17px;
          font-family: Lato;
          font-size: 24px;
          font-weight: 700;
          line-height: 16px;          
          text-transform: uppercase;
          &:hover {
            color: $white-font;
            cursor: pointer;
          }
        }
      }
      &-links {
        @include flex-row-spaceBetw-center;
        
        &__item {
          font-weight: 700;
          line-height: 17px;
          
          & a {
            color: $main-font;
            &:hover {
              color: $white-font;
              cursor: pointer;
            }
          }
          & button {
            margin-left: 48px;
            background-color: $main-color;
            width: 145px;
            height: 37px;
            border-radius: 40px;
            border: 0;

            &:hover {
              color: $main-font;
              background: $white-font;
              cursor: pointer;
            }
          }
        }
        &__list {
          @include flex-row-spaceBetw-center;
          gap: 48px;
        }
      } 
    }
  }
  &__title {
    margin-top: 83px;
    font-size: 82px;
    line-height: 77px;
    &:hover {
      color: $white-font;
      cursor: pointer;
    }
  }
  &__feature {
    margin-top: 19px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
  }
  &__version {
    margin-top: 19px;
    font-weight: 400;
    line-height: 15px;
    color: #848E97;
  }
  &__batton {
    margin-top: 395px;
    position: relative;
    bottom: -31px;  
    width: 390px;
    height: 62px;
    background-color: $main-fon;
    border-radius: 31px;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    &:hover {
      color: $main-font;
      background-color: $white-font;
      cursor: pointer;
    }
  }
}

@media (min-width: 993px) {
  .menu-wrapper .navbar-links__item {
    order: 1;    
  }
}

@media (max-width: 992px) {
  .menu-wrapper .navbar {
    min-height: 118px;

    &-logo {
      flex-wrap: wrap;

    }
    // &-links {
    //   flex-direction: column;
    // }
    &-links__item.button {
      flex-basis: calc(-152px + 100%);
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-end;
      & button {
        margin: 0;
      }
    }
  }
}