
.footer {
  background-color: #000;
  text-align: center; 

  &__title {
    color: $color-text-footer-main;
    text-transform: uppercase;
    padding: 38px 0 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;    
  }
  &__text {
    color: $color-text-footer-second;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.33px;
    max-width: 684px;
    margin: 0 auto;  
  }
  &__icons {
    margin: 25px 0 25px;
    img {
      margin-right: 5px;
      cursor: pointer;
      
    }
  }  
  &__contacts {
    color: $color-text-footer-second;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 47px;
  }
}

@media (max-width: 320px) {
  .footer {
    &__text {
      max-width: 303px;;
    }
    &__text span{
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .footer {

    &__title {
      font-size: 16px;
      padding: 57px 0 22px;
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
    &__icons {
      margin: 35px 0 33px;
    }
    &__contacts {
      display: flex;
      justify-content: center;
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 56px;
    }
  }
}

@media (min-width:1200px) {
  .footer {

    &__contacts {
      padding-bottom: 70px;
    }
  }
}