
body {
  background-color: #c9c8b6;
  padding: 30px;
}

/* .btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #11441e;
  color: #fff;
} */

/* .info {
  text-align: center;
} */

label {
  margin-left: 20px;
}

.score {
  display: inline-block;
  margin: 0 20px;
}

table {
  margin-top: 20px;
  border: 2px solid rgb(198, 209, 134);
  background-color: #686161;
}

td {
  width: 30px;
  height: 30px;
  background-color: #fff;
  /* border: 2px solid rgb(198, 209, 134); */
}
.active {
  background-color: blue;
}