
body {
  background-color: #e3f1fc;
}

.btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #11441e;
  color: #fff;
}

.info {
  text-align: center;
}