@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.container {
  font-family: roboto;
  font-size: 24px;
  width: 1280px;
  align-items: center;
  margin: auto;
}

header {
  height: 189px;
  margin: 0px 0px 48px 0px;
}

.main-lable {
  width: 1280px;
  height: 120px;
}

.main-sign {
  font-size: 80px;
  line-height: 93.75px;
  color: #4BCAFF;  
  text-decoration: none;
}

.main-sign span {
  color: #000
}

.menu-button {
  height: 69px;
  background-color:#35444f;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-line {
  align-items: center;
  background-color:#35444f;
}

.menu-button li {
  list-style: none;
}

.menu-line-tap ul {
  padding: 0;
  margin: 0;  
  margin-left: 160px;
}

.menu-button a {
  display: flex;
  background-color:#35444f;
  color: #fff;
  line-height: 28px;
  padding: 25px 35px 16px 35px;
  text-decoration: none;
}

.menu-button a:hover {
  background-color:#222F3A;
}

.menu-button a {
  border-left: #fff solid 1px; 
}

.menu-button li:last-child {
  border-right: #fff solid 1px; 
}

.main-body {
  display: flex;
  justify-content: space-between;
}

.menu-aside {
  height: fit-content;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  background-color: rgba(0, 0, 0, 0.0001);
  border: #000 solid 1px;
}

.menu-aside ul {
  width: 341px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-aside a {
  padding: 26px 10px 26px 44px;
  display: flex;
  color: #485863;
  text-decoration: none;
  white-space: nowrap;

}

.menu-aside a:hover {
  color: #000;
  background-color: #DBDBDB;
  padding: 26px 10px 26px 64px;
  transition: 0.4s;

}

.body-right {
  width: 882px;
}

.main-picture {
  height: 529px;
  border: #000000 solid 1px;
  display: flex;
}

.picture1 {
  width: 320px;
  height: 381px;
  margin: auto;
  transition: 1s;
}

.picture1:hover {
  width: 400px;
  height: 481px;
  cursor: pointer;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.footer a {
  text-decoration: none;
  margin: 0;
  padding: 17px 12px 9px 10px; 
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer a:hover {
  border-bottom: #3181A6 solid 2px;
  color: #3181A6;
}


.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer p {
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  color: #010101;
  margin-right: 40px;
}