@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.container {
  font-family: roboto;
  font-size: 24px;
  width: 1280px;
  /* text-align: center; */
  align-items: center;
  margin: auto;
  /* background-color:rgba(209, 15, 15, 0); */
  background-color: burlywood;
}

header {
  /* width: 1280px; */
  height: 189px;
  margin: 63px 0px 48px 0px;
  bottom: 0px;
}

.main-lable {
  width: 1280px;
  height: 120px;
}

.main-sign {
  font-size: 80px;
  line-height: 93.75px;
  color: #4BCAFF;  
  text-decoration: none;
}

.main-sign span {
  color: #000
}

/* .nav {} */

.menu-button {
  width: 1280px;
  height: 69px;
  background-color:#35444f;
  display: flex;
}


.menu-button div:nth-child(1) {
  /* border-left: #c7bbbb solid 1px; */
  width: 160px;
}

.menu-button div:last-child {
  background-color:#35444f;
}

.menu-button a {
  display: flex;
  /* padding-top: auto; */
  background-color:#35444f;
  color: #fff;
  line-height: 28px;
  padding: 25px 35px 16px 35px;
  text-decoration: none;
}

.menu-button a:hover {
  background-color:#222F3A;
}
.menu-button div + div {
  border-left: #fff solid 1px; 
}
.main-body {
  display: flex;
  /* width: 100%; */
  /* margin-left: 100px; ; */
  justify-content: space-between;

}

.menu-aside {
  /* display: flex; */
  /* width: 344px; */
  height: fit-content;
  font-size: 27px;
  line-height: 27px;
  /* text-align: left; */
  /* float: left; */
  color: #485863;
  /* color: rgba(0, 0, 0, 0.0001); */
  background-color: rgba(0, 0, 0, 0.0001);
  /* margin-right: 52px; */
  border: #000 solid 1px;
  /* height: 400px; */
}

.menu-aside ul {
  width: 341px;
  /* height: 400px; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-aside li {
  /* padding: 26px 10px 26px 44px; */
}

.menu-aside a {
  padding: 26px 10px 26px 44px;
  display: flex;
  color: #485863;
  text-decoration: none;
  /* padding: 0; */
  white-space: nowrap;
}

.menu-aside a:hover {
  color: #000;
  background-color: #DBDBDB;
}

.main-picture {
  width: 882px;
  height: 529px;
  border: #000000 solid 1px;
  display: flex;
}

.picture1 {
  width: 320px;
  height: 381px;
  margin: auto;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.footer ul {
  height: 69px;
  background-color: #4BCAFF;
}


.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  margin: 0;

}