body, p {
margin: 0;
}
.conteiner {  
  width: 1920px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: #fff;
}
.main {
  background-image: url(pic1/bg.png);
  background-attachment:fixed;
  height: 1012px;
}
.nav {
  width: 100%;
  background-color: rgba(94, 93, 88, 0.6);
  position: fixed;
  height: 120px;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-wrapper {
  width: 1160px;
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
}
.main ul {
  display: flex;

  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  text-transform: uppercase;
  list-style-type:none;
}
.nav li{
  margin-right: 21px;
  cursor: pointer;
}

.nav li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight:700;
  font-size: 16px;
}
.nav li a:hover {
  color: #18CFAB;
}

.main-content {
  text-align: center;
  overflow: hidden;
}
.main-content h1 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 379px;
}
.main-content h1 span {
color: rgba(24, 207, 171, 1);
}
.main-content h2 {
  font-weight: 700;
  font-size: 78px;
  margin: 22px;
}
.main-content h3 {
  font-weight:400;
  font-size: 34px;
  color: rgba(212, 212, 212, 1);
  margin: 0;
}
.main-content button {
  margin-top: 134px;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  width: 169px;
  height: 63px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}
.main-content .explore {
  background-color: rgba(24, 207, 171, 1);
  margin-right: 26px;
}
.main-content .purchase {
  background-color: rgba(0, 203, 246, 1);
}
.otions {
  display: flex;
}
.otions > div {
  width: 25%;
  height: 377px;
  text-align: center;
}
.otions p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.box-1, .box-3 {
  background-color: rgba(28, 42, 51, 1);
}
.box-2, .box-4 {
background-color: rgba(24, 207, 171, 1);
}
.box-1 img {
margin: 95px 0 47px;
}
.box-2 img {
  margin: 106px 0 58px;
}
.box-3 img {
  margin: 95px 0 48px;
}
.box-4 img {
  margin: 105px 0 58px;
}
.our-services {
  color: #4E4E4E;
  margin: 0 auto;
  width: 1160px;
  padding: 85px 0 91px;
}
.our-services .header h2 {
  font-size: 36px;
  font-weight: 400;  
  margin: 0 0 100px;
  position: relative;
  text-align: center;
}
.our-services .header h2::before{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 66px;
  left: 536px;
  width: 76px;
}
.our-services .header h2::after{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 70px;
  left: 547px;
  width: 76px;
}
.our-services ul {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content:space-around;
  padding: 0;
}
.our-services li{
  width: 193px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.our-services li.active {
  background-color: rgba(24, 207, 171, 1);
  position: relative;
}
.our-services li.active::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid rgba(24, 207, 171, 1);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 72px;
}
.our-services li:hover{
  border: 1px solid rgba(24, 207, 171, 1);
  box-sizing: border-box;
}
.our-services li.active:hover {
  border: 0;
}
.content > div {
  margin-top: 23px;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.content div img {
  width: 192px;
  height: 139px;
}
.content div p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  width: 952px;
}
.buy {
  background-image: url(pic1-2/bg\ 2.png);
  width: 100%;
  height: 476px;
  text-align: center;
  overflow: hidden;
}
.buy h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  margin: 126px 0px 12px 0;
}
.buy h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(216, 216, 216, 1);
  text-transform: uppercase;
  margin: 0;
}
.buy button {
  width: 168px;
  height: 63px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  margin-top: 67px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.our-amazing-work {
  color: #4E4E4E;
  padding: 96px 0 100px;
  background-color: #E9EDEF;
  min-height: 1046px;
}
.our-amazing-work h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 0;
}
.our-amazing-work .header h2::before{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 66px;
  left: 915px;
  width: 80px;
}
.our-amazing-work .header h2::after{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 70px;
  left: 928px;
  width: 80px;
}
.our-amazing-work ul {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  color: rgba(113, 113, 113, 1);
  list-style: none;
  padding: 0;
  display: flex;
  width: 582px;
  padding: 0;
  margin-top: 110px;
}
.our-amazing-work li {
  box-sizing: border-box;
  display: flex;
  height: 58px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0 14px;
  border: 1px solid rgba(218, 218, 218, 1);
}
.our-amazing-work li:first-child {
  padding: 0 27px;
}
.our-amazing-work li.active {
  border: 1px solid rgba(24, 207, 171, 1);
}
.our-amazing-work .pictures {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 71px;
}
.our-amazing-work .pictures > img {
  width: 25%;
  height: 211px;
  transition: all 1s;

}
.our-amazing-work .cover{
  color: #18CFAB;
  box-sizing: border-box;
  border-top: 2.5px solid #18CFAB;
  transition: all 1s;
}
.our-amazing-work .cover img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 24px;
}
.our-amazing-work .cover p {
  font-size: 12px;
  font-weight: 300;
  color: #8A8A8A;
  text-align: center;
}
.our-amazing-work .cover span {
  font-size: 14px;
  font-weight: 700;
  color: #18CFAB;
  text-transform: uppercase;
}
.our-amazing-work button {
  width: 168px;
  height: 63px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  border: 0;
  cursor: pointer;
}
.breakingNews {
  width: 1160px;
  margin: 0 auto;
  color: #717171;
  padding-top: 82px;
  margin-bottom: 128px;
}
.breakingNews .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.breakingNews .header  {
  text-align: center;
  position: relative;
}
.breakingNews .header h2 {
  font-weight:400;
  font-size: 36px;
  color: #4E4E4E;
  margin: 0;
  padding-bottom: 56px;
}
.breakingNews .header h2::before{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 86px;
  left: 533px;
  width: 80px;
}
.breakingNews .header h2::after{
  content: "";
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  position: absolute;
  top: 90px;
  left: 546px;
  width: 80px;
}
.breakingNews .list .item {
  margin-top: 44px;
  position: relative;
}
.breakingNews .list .legend {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px; 
  width: 70px; 
  background: #203E38; 
  position: absolute; 
  top: 0px; 
  right:0px;
}
.breakingNews .list .name {
  color: #717171;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 20px;
  margin: 9px 0 0 20px;
  padding: 0;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.breakingNews .list .text {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
  line-height: 14px;
  margin: 0;
  display: flex;
  width: 210px;
}
.breakingNews .author {
  border-right: 1px #b1b1b1 solid;
  padding-right: 10px;
}
.breakingNews .comment {
  padding-left: 10px;
}
.testimonial {
  height: 853px;
  background-image: url(pic4/bg\ .png);
}
.testimonial .header {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.testimonial .header h2 {
  font-size: 36px;
  font-weight: 400;
  padding-top: 98px;
  margin-bottom: 158px;
}
.testimonial .header h2::before{
  content: "";
  border-bottom: 1px solid #18CFAB;
  position: absolute;
  top: 167px;
  left: 248px;
  width: 80px;
}
.testimonial .header h2::after{
  content: "";
  border-bottom: 1px solid #18CFAB;
  position: absolute;
  top: 171px;
  left: 261px;
  width: 80px;
}
.testimonial .content {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #bbbbbb;
  line-height: 22px;
}
.testimonial .content::before{
  content: url(pic4/Combined\ shape\ 2474.svg);
  position: absolute;
  top: -71px;
  left: 556px;
  color: #000;
}
.slider.swiper {  
  margin-top: 35px;
  margin-bottom: 38px;
}
.slider_slide {
  text-align: center;
}
.slider_slide.swiper-slide p{
  font-size: 13px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 38px;
}
.slider_slide.swiper-slide span{
  font-size: 16px;
  font-weight: 700;
  color: #18CFAB;
  text-transform: uppercase;
  line-height: 29px;
}
.slider_slide.swiper-slide img {
  max-width: 100%;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 11px solid rgba(31, 218, 181, 0.2);
}
.image-mini-slider {
  width: 364px;
}
.image-mini-slider_slide {
  opacity: 0.7;
  transition: opacity 0.5s ease 0s;
}
.image-mini-slider_slide.swiper-slide-thumb-active {
  opacity: 1;
  top: -10px;
  width: 66px;
}
.image-mini-slider_image {
  padding: 10px 0 0px 0;
  cursor: pointer;
}
.image-mini-slider_image img{
  border-radius: 50%;
  border: 5px solid rgba(31, 218, 181, 0.2);
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}
.testimonial .carousel .cursors {
  margin: 0 auto;
  position: relative;
  width: 364px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 14px;
}
.swiper-button-prev,
.swiper-button-next {
  border: 1px solid #bbb;
  height: 31px;
  width: 31px;
  top: -33px;
}
.swiper-button-prev {
  left: -61px;
}
.swiper-button-next {
  right: -61px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #18CFAB;
  border: 1px solid #18CFAB;
}
.gallery-of-best-images  {
  padding: 108px 0 80px;
}
.gallery-of-best-images .header h3 {
  display: block;
  margin: 0 auto;
  padding-bottom: 115px;  
  width: fit-content;
  font-size: 36px;
  font-weight: 400;
  color: #4E4E4E;
  position: relative;
}
.gallery-of-best-images .header h3::before{
  content: "";
  border-bottom: 1px solid #18CFAB;
  position: absolute;
  top: 65px;
  left: 154px;
  width: 80px;
}
.gallery-of-best-images .header h3::after{
  content: "";
  border-bottom: 1px solid #18CFAB;
  position: absolute;
  top: 70px;
  left: 167px;
  width: 80px;
}
.gallery-pictures {
  width: 1160px;
  margin: 0 auto;
}
.gallery-pictures .grid-item img {
  margin-bottom: 15px;
}
.gallery-pictures .grid-item.width-1 img{
  width: 373px;
}
.gallery-pictures .grid-item.width-2 img{
  width: 145px;
}
.gallery-pictures .grid-item.width-3 img{
  width: 111px;
  height: 92px;
}
.gallery-of-best-images button {
  width: 168px;
  height: 63px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  border: 0;
  cursor: pointer;
}
.waiting {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 7px solid red;
  border-top: 7px solid transparent;
  border-radius: 50%;
  animation: waitingRotate infinite 1s;
}
@keyframes waitingRotate {
  0%  {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}
.footer {
  height: 121px;
  width: 1920px;
  margin: 0 auto;
  background-color: #22353F;
  font-size: 14px;
  color: #AEAEAE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h4 {
  font-weight: 300;
}
.footer span {
  color: #18CFAB;
}