.parent {
  /* background-color: #f08383; */
  margin: 10px;
}

.child {
  opacity: 0;
  /* visibility: hidden; */
}

.parent:hover .child{
  color: aqua;
  opacity: 1;
  /* visibility: visible; */
  }