
.parent1 {
  background-color: #f08383;
  width: 1000px;
  height: 500px;
  
}

.parent2 {
  /* height: 100%; */
  display: grid;
  /* flex-wrap: wrap; */
  /* align-items:center; */
  /* align-content: space-between; */
  /* justify-content: space-between; */
  /* justify-items: center; */
  /* grid-auto-rows: 1fr 1fr 1fr; */
  /* grid-auto-columns: 1fr 1fr 1fr; */
  background-color: #f7ef7f;
  grid-template-columns: 1fr 1fr 1fr;
}

.child {
  width: 200px;
  height: 100px;
  background: darkgreen;
  margin: 5px;
}