
main {
  background-color: #fff;
  column-count: 1;
  width: inherit;
}

aside {
  background-color: #f7f7f7;
  padding: 40px 20px;
  /* width: 70%; */
  /* float: left; */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.aside {
  /* display: flex; */

  width: 400px;
}

.main {
  display: flex;

  width: 600px;
}