
body {
  background-color: rgb(255, 250, 208)  
}

.nav {
  display: flex;
  justify-content: center;
}

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.modalWindow {
  position:relative;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 510px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db0909;
  padding-left: 20px;
}

.modalHeader h2 {
  font-weight: 500;
  margin: 15px 0;
}

.modalBody {
  padding: 15px 40px;
  background-color: #f14242;
}

button:not(.btnClose) {
  cursor: pointer;
  border: none;
  min-height: 30px;
  min-width: 80px;
  color: #fff;
  margin: 0 5px;
  border-radius: 3px;
}

.btnClose {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 30px;
  color: #fff;
  margin: 0 5px;
}

.secondModal {
  .modalHeader {
    background-color: #005f52;
  }
  .modalBody {
    background-color: #008150;
  }
}