header {
  height: 58px;
  padding: 0 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
}
header:hover {
  background: rgba(0, 0, 0, 0.41);
}
.head-logo-left {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.head-logo-left:hover {
  color:#01813F;
}
.pic1 {
  width: 21px;
  height: 24px;
  -webkit-mask-image: url(picture/Vector3.svg);
  background: #fff;
}  
.pic2 {
  width: 23px;
  height: 23px;
  -webkit-mask-image: url(picture/Vector1.svg);
  background: #fff;
}  
.pic3 {
  height: 23.7px;
  width: 23px;
  -webkit-mask-image: url(picture/Vector2.svg);
  background: #fff;
}      
.head-contacts-welcome {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.head-contacts {
  margin-left: 25px;
  cursor: pointer;
}
.head-contacts:hover {
  background: #01813F;
}
.fence {
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.5;
}
header p {
  display: inline;
}
header img {
  width: 23px;
  height: 23px;
  padding-left: 25px;
  fill: #022263;
  color: #AB1F09;
}
header img:hover {
  fill: #01813F;
}
header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #01813F;
}
p {
  margin: 0;
}
.body {
  max-width: 1366px;
  height: 770px;
  margin: auto;
  background-image: url('picture/fon.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-welcome p{
  display: inline;
}
.form {
  background: #fff;
  width: 444px;
  box-sizing: border-box;
  padding: 31px 60px 38px 60px;
  display: flex;
  flex-direction: column;
  color: #434343;
  position: relative;
}
.dialog {
  display: flex;
  justify-content: space-between;
}
.sign-up {
  color: #434343;
  font-size: 20px;
  text-decoration: none;
}
.log-in {
  color: #3CB878;
  font-size: 14px;
  text-decoration: underline;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 31px 0;;
  font-size: 16px;
}
.button-facebook {
  background: #305DB8;
  width: 160px;
  height: 48px;
  border: 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 0 16px;
  color: #fff;
  transition: background-color 0.5s;
}
.button-google {
  background: #DF4A32;
  width: 160px;
  height: 48px;
  border: 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px 0 12px;
  color: #fff;
  transition: background-color 0.5s;
}
.form p {
  color: #848484;
  margin-bottom: 11px;
  text-align: center;
}
.input,
.input-submit {
  display: block;
}
.input {
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 0;
  color: #434343;
  outline: none;  
  padding-left: 20px;
  transition: box-shadow 0.4s;
}
.input:not(:first-of-type) {
  margin-top: 15px;
}
input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #383838;
  opacity: 0.08;
  border-radius: 4px;
  position: absolute;
  top: -4px;
}

input[type="checkbox"]:checked::after {
  content: '';
  background-image: url(picture/sign\ .svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 17px;
  height: 17px;
  margin-left: 1px;
  border-radius: 2px;
  bottom: 0px;
}
.checkbox {
  margin-top: 12px;
  position: relative;
}
.form-terms {
  color: #3CB878;
} 
.label-checkbox-agree {
  margin-left: 30px;
}
.input-submit {
  width: 324px;
  height: 46px;
  background: #3CB878;
  margin-top: 20px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.5s;
}
.input-submit:hover {
  background: #01813F;
}
.green-box {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3CB878;
  top: 29px;
  left: 0;
}
button,
input[type="submit"] {
  cursor: pointer;
}
.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.button-facebook:hover {
  background: #022263;
}
.button-google:hover {
  background: #AB1F09;
}
.input:hover {
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.21) ;  
}